# **Module 7 Task 1 - Chapter 10 Practice**
## **Author: Wade Bryson**
## **GitHub: https://github.com/WadeBryson**

### Loading the Average High Temperatures into a DataFrame

In [1]:
import pandas as pd
nyc = pd.read_csv('ave_hi_nyc_jan_1895-2018.csv')

#### Viewing the Head and Tail

In [2]:
nyc.head()

     Date  Value  Anomaly
0  189501   34.2     -3.2
1  189601   34.7     -2.7
2  189701   35.5     -1.9
3  189801   39.6      2.2
4  189901   36.4     -1.0

In [3]:
nyc.tail()

       Date  Value  Anomaly
119  201401   35.5     -1.9
120  201501   36.1     -1.3
121  201601   40.8      3.4
122  201701   42.8      5.4
123  201801   38.7      1.3

#### Cleaning the Data

In [4]:
nyc.columns = ['Date', 'Temperature', 'Anomaly']
nyc.head(3)

     Date  Temperature  Anomaly
0  189501         34.2     -3.2
1  189601         34.7     -2.7
2  189701         35.5     -1.9

In [5]:
# Truncating the last two digits from each Date
nyc.Date = nyc.Date.floordiv(100)
nyc.head(3)

   Date  Temperature  Anomaly
0  1895         34.2     -3.2
1  1896         34.7     -2.7
2  1897         35.5     -1.9

#### Calculating Basic Descriptive Statistics for the Dataset

In [6]:
pd.set_option('display.precision', 2)
nyc.Temperature.describe()

count    124.00
mean      37.60
std        4.54
min       26.10
25%       34.58
50%       37.60
75%       40.60
max       47.60
Name: Temperature, dtype: float64

#### Forecasting Future January Average High Temperatures

In [ ]:
from scipy import stats